./src/imageProcessing/plotPieceProfile.m
./src/imageProcessing/filteredOutliers.m
./src/imageProcessing/drawBoundingBox.m
./src/analyzeData/analyzePieceOrientation.m

*.svg
*.png

./data/

data/calibration_*.json
data/changeImageName.py